

/*
[Note]
flex: none;                     -> fixed setup, need to set width.
border: 2px dashed #4F4F4F;     -> set the border line size, type and color.
width: auto;                    -> if set auto, fill the remaining part.
text-decoration: line-through;  -> line through the words.
padding: 1%;                    -> Controls the space between the content and
                                   the element’s border (internal spacing).
margin: 20px;                   -> Controls the space between the element and
                                   other elements (external spacing).
*/

/* tag selector */
body{
    /* ===format=== */
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;

    /* ===styles=== */
    background-color: #E6E6F2
}

hr{
    /* ===format=== */
    margin-right: 10%;
    border: 2px solid #D0D0D0;
}

/* ID selector */
#paragraph_1{
    font-family: "Barriecito", sans-serif;
    font-size: 30px;
}

/* Class selector */
.resume_bk{
    background-color: #D8D8EB;
}

.en_name{
    /* ===format=== */
    margin-top: 40px;
    margin-bottom: 20px;

    /* ===styles=== */
    font-size: 20px;
    font-weight: bold;
    font-family: "Barriecito", sans-serif;
    color: #000000;
}

.info{
    /* ===format=== */
    margin-top: 10px;

    /* ===styles=== */
    font-size: 16px;
    font-weight: normal;
    font-family: "Barriecito", sans-serif;
    color: #4F4F4F;
}

.github_img_style{
    /* ===format=== */
    width: 40px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
}

.linkedin_img_style{
    width: 38px;
    height: auto;
}

.sc_img_style{
    width: 70px;
    height: auto;
}

.cg_img_style{
    width: 70px;
    height: auto;
}

.ntut_img_style{
    width: 80px;
    height: auto;
}

.fcu_img_style{
    width: 80px;
    height: auto;
}

.paragraph{
    /* ===format=== */
    /* padding: 1%; */
    /* border: 2px dashed #4F4F4F; */
    /* width: 50%; */
    margin-top: 25px;
    margin-bottom: 10px;

    /* ===styles=== */
    font-size: 22px;
    font-weight: bold;
    font-family: "Barriecito", sans-serif;
    text-decoration: underline;
    color: #000000;
}

.center_ctrl{
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
}

.skills_lv_1{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.skills_lv_2_hr{
    /* ===format=== */
    flex: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25%;
}

.skills_lv_3_topic{
    /* ===format=== */
    /* flex: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25%; */

    /* ===styles=== */
    font-family: "Barriecito", sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* outline: 1px solid red; */
}

.skills_lv_4_item{
    padding-inline-start: 20px;
    margin-block-start: 5px;
    list-style-type: square;
}

.ul_shortcase{
    /* ===format=== */
    width: 80%;
    padding-inline-start: 20px;
    margin-block-start: 5px;
    margin-block-end: 30px;
    list-style-type: square;
}

.exp_lv_1{
    /* ===format=== */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    /* margin-bottom: 10px; */
}

.exp_lv_2_position{
    /* ===format=== */
    flex: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    width: 60%;

    /* ===styles=== */
    font-family: "Barriecito", sans-serif;
    font-size: 18px;
    /* font-weight: bold; */
}

.exp_lv_2_corp{
    /* ===format=== */
    flex: none;
    margin-top: 10px;
    margin-bottom: 5px;
    /* margin-left: 30px; */
    width: 300px;

    /* ===styles=== */
    font-family: "Barriecito", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4F4F4F;
}

.exp_lv_2_time{
    /* ===format=== */
    flex: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;

    /* ===styles=== */
    font-family: "Barriecito", sans-serif;
    font-size: 16px;
    font-weight:lighter;
    color: #ADADAD;
}

.exp_lv_2_shortcase{
    /* ===format=== */
    /* width: 80%; */
    padding-inline-start: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type: square;
}

.edu_lv_1{
    /* ===format=== */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 10px;
}

.edu_lv_2_school{
    /* ===format=== */
    flex: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    width: 60%;

    /* ===styles=== */
    font-family: "Barriecito", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.edu_lv_2_degree{
    /* ===format=== */
    flex: none;
    margin-top: 10px;
    margin-bottom: 5px;
    /* margin-left: 30px; */
    width: 60%;

    /* ===styles=== */
    font-family: "Barriecito", sans-serif;
    font-size: 16px;
    font-weight:lighter;
    color: #4F4F4F;
}

.content{
    margin-top: 10px;

    /* ===styles=== */
    font-size: 16px;
    font-weight: normal;
    color: #4F4F4F;
    font-family: "Barriecito", sans-serif;
}

.hide{
    display: none; /* display none, won't show on the page */
}


/* media query, use these styles if width less than max-width instead */
@media (max-width: 1280px){
    /* max-width: 1280px, for pad's settings */
    .skills_lv_1{
        flex-wrap: wrap;
    }

    .skills_lv_2_hr{
        width: 45%;
    }
}

@media (max-width: 600px){
    /* max-width: 500px, for cell phone's settings, 360~600px */
    .skills_lv_2_hr{
        width: 90%;
    }

}